.menu {
  position: fixed;
}
.menu__image-container {
  display: flex;
  justify-content: center;
}

.menu__image-container img {
  max-width: 80%;
  object-fit: contain;
}

.menu__items {
  margin-top: 15px;
  padding: 0 30px;
  text-align: center;
}
.menu__item {
  padding: 5px 0;
  cursor: pointer;
  position: relative;
  font-size: 1.3rem;
  border-radius: 5px;
}

.menu__item:hover {
  background-color: rgb(247, 246, 246);
}

.menu__item::before {
  position: absolute;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("../../images/gun.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  top: -6px;
  left: 0;
  display: none;
}

.menu__item.active::before {
  display: block;
}

.menu__item.active {
  background-color: rgb(247, 246, 246);
}

.menu__item:hover::before {
  display: block;
}
